.gallery.media-gallery {
  max-height: 800px;

  ul,
  li {
    background: #fff;
    height: 100%;
    list-style: none;
  }

  .lightSlider li.video {
    position: relative;

    :after {
      color: #fff;
      content: "\e96a";
      font-family: "mbicon" !important;
      font-size: 100px;
      left: calc((100% - 100px) / 2);
      position: absolute;
      top: calc((100% - 137px) / 2);
    }
  }

  li.video,
  li.lslide[data-thumb-class="video"] {
    position: relative;

    &:after {
      color: #fff;
      content: "\e96a";
      font-family: "mbicon" !important;
      font-size: 26px;
      left: calc((100% - 25px) / 2);
      position: absolute;
      text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
      top: calc((100% - 35px) / 2);
    }
  }

  li.lslide[data-thumb-class="video"]:after {
    left: calc((100% - 100px) / 2);
    font-size: 100px;
    top: calc((100% - 137px) / 2);
  }
}
