<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="grindnu_googlemaps" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Google Maps</label>
            <tab>grindnu</tab>
            <resource>Grindnu_GoogleMaps::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field canRestore="1" id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Select <b>Yes</b> to enable this module]]></comment>
                </field>
            </group>
            <group id="map_setting" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Map Settings</label>
                <field canRestore="1" id="api_key" translate="label comment" type="text" sortOrder="20" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Google API Key</label>
                    <comment><![CDATA[Get Google Map API <a href="https://developers.google.com/maps/documentation/javascript/get-api-key" target="_blank">here</a>.]]></comment>
                </field>
                <field canRestore="1" id="map_type" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Map Type</label>
                    <source_model>Grindnu\GoogleMaps\Model\Config\Source\System\MapType</source_model>
                </field>
                <field canRestore="1" id="map_style" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Map Style</label>
                    <source_model>Grindnu\GoogleMaps\Model\Config\Source\System\MapStyle</source_model>
                    <depends>
                        <field id="map_type">roadmap</field>
                    </depends>
                </field>
                <field canRestore="1" id="allow_drag" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow Map Dragging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Select <b>Yes</b> to allow dragging the map.]]></comment>
                </field>
                <field canRestore="1" id="zoom_default" translate="label comment" type="text" sortOrder="60" showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Zoom Default</label>
                    <validate>validate-zero-or-greater</validate>
                    <comment><![CDATA[Default zoom when loading the map.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>